*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f9f9f9;
}

.colHolder {
  margin: 10px auto;
  /* margin-left: 100px; */
  width: 90%;
  max-width: 1600px;
}